body {
  background-color: #f3f3f3;
  font-family: "Roboto", serif;
}

@media (min-width: 310px) and (max-width: 1024px) {
  .topo {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 80px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .icone-people {
    font-size: 45px;
  }
}
.chat {
  position: relative;
  margin-top: 106px;
  /* height: 100vh; */
}
/* verificar se da pra acessar a váriavel css no js acredito que tenha trocar no backgroud-color */
.chatMensagem {
  --mensagemStatus: #dcdcdc;
  --mensagemReservado: #ffdede;
  --mensagemChat: #fff;
}
.chatMensagem {
  background-color: #dcdcdc;
  height: 46px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 4px;
  width: 100%;
}
span {
  font-size: 14px;
}
.chatMensagem .time {
  color: #aaa;
}
.chatMensagem .user {
  font-weight: bold;
}
.rodape {
  background-color: #fff;
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  padding: 15px;
  box-shadow: -4px -2px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  bottom: 0;
}
.mensagem {
  font-size: 18px;
  padding-left: 5px;
  width: 100%;
}
.tipoSala {
  color: #505050;
  margin: 5px 0px;
  padding-left: 5px;
}
.mensagem::placeholder {
  font-style: italic;
  color: #000;
}
.mensagem:focus {
  outline: none;
}
.rodapeMensagem input {
  height: 30px;
  border: none;
}
.botao {
  margin-top: 10px;
  font-size: 30px;
}

.menuLateral {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px;
  /* height: 100vh; */
}
.menuLateral h1,
h2 {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin: 4px 0px;
  
}
.usuarios,
.visibilidade {
  display: flex;
  width: 198px;
  gap: 10px;

  margin-bottom: 10px;
  align-items: center;
}
.usuarios .people {
  font-size: 25px;
}
